// MIXIN
@mixin font-generic($weight: 700) {
  font-style: normal;
  font-variant: normal;
  font-weight: $weight;
}

/* SET FONTS */

h1 {
  @include font-generic;
  font-family: Merriweather;
  font-size: 24px;
  line-height: 26.4px;
}
h3 {
  @include font-generic;
  font-family: Merriweather;
  font-size: 14px;
  line-height: 15.4px;
}

h4 {
  @include font-generic;
  font-family: Merriweather;
  font-size: 14px;
  line-height: 15.4px;
}

p {
  @include font-generic($weight: 400);
  font-family: Merriweather;
  font-size: 14px;
  line-height: 20px;
}
blockquote {
  @include font-generic($weight: 400);
  font-family: Merriweather;
  font-size: 21px;
  line-height: 30px;
}
pre {
  @include font-generic($weight: 400);
  font-family: Merriweather;
  font-size: 13px;
  line-height: 18.5714px;
}