/* ACCENT COLOR

#40739e; Blue
*/
@use 'base';

.logo {
  width: 100px;
  float: left;
}


li a {
    color: base.$orange
}

li a:hover {
  color: base.$orange;
}

.active {
  background-color: base.$accent;
}

.accent-text {
  color: base.$accent;
}

.navbar {
  background: base.$background;

}
.nav-link,
.navbar-brand {
  margin-left: 20px;
}
.nav-link {
  margin-right: 1em !important;
  justify-content: flex-end;
}

.navbar-collapse {
  justify-content: flex-end;

}
.nav-item {

}

.padder {
  padding-top: 45px;

}


body {
  background: base.$background;
  max-width: 100%;
  overflow-x: hidden;
}

.header {
  /* background-image: url("images/header-background.jpg"); */
  background-size: cover;
  background-position: center;
  position: relative;
  background-color: white;
}

.overlay {
  position: absolute;
  min-height: 100%;
  min-width: 100%;
  left: 0;
  top: 0;
  /* background: rgba(0, 0, 0, 0.35); */
}

// .padded-top {
//   // padding-bottom: 5%;
//   padding-top: 10%;
// }

.centered-section {
  text-align: center;

}

.description {
  text-align: center;
  padding-top: 100px;
}

.description h1 {
  color: base.$background;
}

.description p {
  color: #fff;
  font-size: 1.3rem;
  line-height: 1.5;
}

.page-footer {
  // background-color: base.$accent;
  // color: black;
  padding: 20px 0 15px;

}

.footer-copyright {
  padding-left: base.$margin-side;
  color: base.$accent;
}

.features {
  top: 45%;
  text-align: center;
}
.feature-title {
  font-size: 1.3rem;
  font-weight: 700;
  margin-bottom: 20px;
}

.txt-box {
  background-color: transparentize(base.$accent, 0);

  border-radius: 15px;
  width: 90%;
  height: 90%;
  margin: 5px;
  padding: 10px;
}

.txt-box-holder {
  position: relative;
  color: white;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);

}

.btn-primary,
.btn-primary:hover,
.btn-primary:active,
.btn-primary:visited {
  background-color: #8064A2 !important;
}

/* Container holding the image and the text */
.text-overlay-container {
  position: relative;
  text-align: center;
  color: white;
   /* max-width: 800px; */
}

.text-overlay-img {
   filter: brightness(50%);
}

/* Centered text */
.centered {
  position: absolute;
  top: 30%;
  left: 50%;
  transform: translate(-50%, -50%);

}

.reveal {
  position: relative;
  transform: translateY(150px);
  opacity: 0;
  transition: 2s all ease;
}

.reveal.act {
  transform: translateY(0);
  opacity: 1;
}


#wrapper { text-align:center; background:#e0e0e0; display:none;}




/* Fade in */


.fade-in-image {
  animation: fadeIn 1.5s;
  -webkit-animation: fadeIn 1.5s;
  -moz-animation: fadeIn 1.5s;
  -o-animation: fadeIn 1.5s;
  -ms-animation: fadeIn 1.5s;
}
@keyframes fadeIn {
  0% {opacity:0;}
  100% {opacity:1;}
}

@-moz-keyframes fadeIn {
  0% {opacity:0;}
  100% {opacity:1;}
}

@-webkit-keyframes fadeIn {
  0% {opacity:0;}
  100% {opacity:1;}
}

@-o-keyframes fadeIn {
  0% {opacity:0;}
  100% {opacity:1;}
}

@-ms-keyframes fadeIn {
  0% {opacity:0;}
  100% {opacity:1;}
}

